* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html {
  font-size: 14px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  padding: 0rem 4rem;
  z-index: 10;
  background-color: white;
}

header nav {
  width: 70rem;
  margin-right: 4rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header nav ul li.nav-item {
  margin: 1rem 1.5rem;
}

header nav ul li.nav-item a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

header nav ul li.nav-item a:hover {
  color: #ff5757;
}

header div.bar-menu {
  margin: 0 6rem;
  cursor: pointer;
  display: none;
}

div.recherche {
  background: #eaeaea;
  padding: 1rem 0;
}

div.recherche div.container {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: auto;
}

div.recherche div.container .form-container {
  max-width: 90%;
  float: right;
}

div.recherche div.container .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.recherche div.container .form-container form .form-group {
  position: relative;
}

div.recherche div.container .form-container form .form-group span {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #eaeaea;
}

div.recherche div.container .form-container form .form-group input {
  padding: 10px;
  border: 0;
  border-right: 1px solid #eaeaea;
}

div.recherche div.container .form-container form .btn-search {
  background-color: #00cfa8;
  color: white;
  border: 0;
  padding: 0 4rem;
  margin-left: 4px;
}

section#home {
  width: 100%;
  height: 85vh;
  background-image: url("../img/slide2.40595120.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

section#home .home-cont {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

section#home .home-cont h1 {
  text-transform: uppercase;
  font-size: 250%;
}

section#home .home-cont button {
  padding: 5px 20px;
  color: white;
  background-color: #00cfa8;
  border-radius: 20px;
  border: 0;
  margin-top: 10px;
}

section#home .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

section#voyage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#voyage div.image {
  background-image: url("../img/image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  display: block;
}

section#voyage div.content {
  width: 50%;
  display: block;
}

section#voyage div.content .my-content {
  margin: 4rem 8rem;
}

section#voyage div.content .my-content .gagner {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#voyage div.content .my-content .gagner li:first-child {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #575199;
  color: white;
  border-radius: 50%;
  font-size: 200%;
  text-align: center;
}

section#voyage div.content .my-content .gagner li:last-child h1 {
  text-transform: uppercase;
  margin-left: 5px;
  color: #575199;
  font-size: 16px;
}

section#voyage div.content .my-content p {
  margin: 2rem 0;
}

section#news-letter {
  background-color: #ffdc08;
  padding: 2rem 0;
}

section#news-letter .container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#news-letter .container h1 {
  color: white;
}

section#news-letter .container h1 a {
  text-decoration: none;
  margin-right: 1rem;
}

section#news-letter .container form {
  margin-left: 1rem;
}

section#news-letter .container form input {
  padding: 0.3rem;
  border: 0;
}

section#news-letter .container form input.btn {
  background-color: #00cfa8;
  padding: 0.3rem 2rem;
  color: white;
}

footer {
  background-color: #575199;
  color: white;
}

footer .container {
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .social {
  width: 50%;
}

footer .container .social .icons {
  margin-top: 2rem;
  color: white;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .social .icons li {
  width: 30px;
  margin-right: 1rem;
  height: 30px;
  line-height: 30px;
  border: 1px solid #00cfa8;
  text-align: center;
  border-radius: 50%;
  color: #00cfa8;
}

footer .container .seo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .seo .dreaming {
  margin-right: 4rem;
}

footer .container .seo .dreaming ul {
  list-style: none;
  margin-top: 2rem;
}

footer .container .seo .dreaming ul li {
  margin: 1rem 0;
}

footer .container .seo .joindre ul {
  list-style: none;
  margin-top: 2rem;
}

footer .container .seo .joindre ul li {
  margin: 1rem 0;
}

footer .container .seo .joindre ul li i {
  color: yellowgreen;
  margin-right: 1rem;
}

.bottom-footer {
  text-align: center;
  color: white;
  background-color: #423d79;
  padding: 1rem;
}

@media (max-width: 992px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  body {
    overflow: scroll;
  }
  header div.bar-menu {
    display: block;
  }
  header nav {
    position: fixed;
    top: 0;
    left: -200%;
    height: 100vh;
    width: 80vw;
    background: #fff;
    -webkit-box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: 30rem 0 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  header nav ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav ul li.nav-item {
    margin: 3rem 0;
  }
  header nav ul li.nav-item a {
    margin: 0;
    font-size: 3rem;
    color: #000;
  }
  header nav ul li.nav-item a:hover {
    color: #ff5757;
  }
  div.recherche {
    background: #eaeaea;
    padding: 1rem 0;
  }
  div.recherche div.container {
    margin: 0 auto;
    position: relative;
  }
  div.recherche div.container .form-container {
    float: none;
    margin: 0 auto;
    max-width: 100%;
  }
  div.recherche div.container .form-container form {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.recherche div.container .form-container form .form-group {
    position: relative;
  }
  div.recherche div.container .form-container form .form-group span {
    position: absolute;
    top: 10px;
    right: 5px;
  }
  div.recherche div.container .form-container form .form-group input {
    padding: 10px;
    border: 0;
    border-top: 1px solid #eaeaea;
    width: 100%;
  }
  div.recherche div.container .form-container form .btn-search {
    background-color: #00cfa8;
    color: white;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    width: 100%;
  }
  section#voyage {
    display: block;
  }
  section#voyage div.image {
    background-image: url("../img/image-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
  }
  section#voyage div.content {
    width: 100%;
    display: block;
  }
  section#voyage div.content .my-content {
    margin: 4rem 8rem;
  }
  section#voyage div.content .my-content .gagner {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#voyage div.content .my-content .gagner li:first-child {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #575199;
    color: white;
    border-radius: 50%;
    font-size: 200%;
    text-align: center;
  }
  section#voyage div.content .my-content .gagner li:last-child h1 {
    text-transform: uppercase;
    margin-left: 5px;
    color: #575199;
    font-size: 16px;
  }
  section#voyage div.content .my-content p {
    margin: 2rem 0;
  }
  section#news-letter {
    background-color: #ffdc08;
    padding: 2rem 0;
  }
  section#news-letter .container {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  section#news-letter .container h1 {
    color: white;
    display: block;
  }
  section#news-letter .container h1 a {
    text-decoration: none;
    margin-right: 1rem;
  }
  section#news-letter .container form {
    margin-top: 1rem;
    margin-left: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#news-letter .container form input {
    padding: 0.3rem;
    border: 0;
  }
  section#news-letter .container form input.btn {
    background-color: #00cfa8;
    padding: 0.3rem 2rem;
    color: white;
  }
  footer {
    background-color: #575199;
    color: white;
  }
  footer .container {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
    display: block;
  }
  footer .container .social {
    width: 100%;
  }
  footer .container .social .icons {
    margin-top: 2rem;
    color: white;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .container .social .icons li {
    width: 30px;
    margin-right: 1rem;
    height: 30px;
    line-height: 30px;
    border: 1px solid white;
    text-align: center;
    border-radius: 50%;
  }
  footer .container .seo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .container .seo .dreaming {
    margin-top: 4rem;
    margin-right: 2rem;
  }
  footer .container .seo .dreaming ul {
    list-style: none;
    margin-top: 2rem;
  }
  footer .container .seo .dreaming ul li {
    margin: 1rem 0;
  }
  footer .container .seo .joindre {
    margin-top: 4rem;
  }
  footer .container .seo .joindre ul {
    list-style: none;
    margin-top: 2rem;
  }
  footer .container .seo .joindre ul li {
    margin: 1rem 0;
  }
  footer .container .seo .joindre ul li i {
    color: yellowgreen;
    margin-right: 1rem;
  }
  .nav-toggle {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */